---
---
@import "minima";

hr {
    margin-bottom: 40px; /* Adjust this number to your liking */
    margin-top: 40px;
    border: 0;
    border-top: 1px solid #eee; /* Keeps the line visible but adds space */
}
